body{
  overflow-x: hidden;
  font-family: 'Work Sans', sans-serif;
  color: #505962;
}
/*--Navigation--*/
.navbar{
  text-transform: uppercase;
  font-size: .9rem;
  font-weight: 700;
  letter-spacing: .1rem;
  background: rgba(0, 0, 0, 0.6) !important;
}
.navbar-brand img{
   height: 2rem;
}
.navbar-nav li{
  padding-right: .7rem;
}
.navbar-dark .navbar-nav .nav-link {
  color: white;
  padding-top: .8rem;
}
.navbar-dark .navbar-nav .nav-link .active,
.navbar-dark .navbar-nav .nav-link:hover {
  color: #1abba3;
}

/*--Landing Page--*/
.home-inner{
  background-image: url(./img/computers.png);
}
.caption{
  text-transform: uppercase;
  color: white;
  position: absolute;
  top: 30%;
  width: 100%;
  max-width: 100%;
  z-index: 1;
}
.caption h1{
  font-size: 3.8rem;
  letter-spacing: .3rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .8rem black;
  padding-bottom: 1rem;
}
.caption h3{
  font-size: 2rem;
  font-weight: 700;
  text-shadow: .1rem .1rem .5rem black;
  padding-bottom: 1.6rem;
}
.btn-lg{
  border-width: medium;
  border-radius: 0;
  padding:.6rem 1.3rem ;
  font-size: 1.1rem;
}
.btn-secondary{
  background-color: #1ab399;
  border-radius: 5px;
  border-color: #1ab399;
}
.btn-secondary:hover{
  background-color: black;

}
.color-dibo{
  color: #1ab399;
  padding: 1rem;
}
.heading-underline{
  border-bottom: 3px solid #1ab399;
  width: 150px;
  margin: 0 auto;
}
.now{
  border-bottom: 3px solid #1ab399;
  width: 100px;
  margin: 0 auto;
}
.img-soto{
  width: 150px;
  height: 150px;
  border-radius: 500%;
}
.fa-quote-left{
  font-size: 1.5rem;
  color: #1ab399;
}
.bottom-dei{
  border-bottom: 1px solid #1ab399;
}
footer{
  color: white;
  font-weight: 600;
  background-color: #383e46;
}
i{
  color: white;
  padding: 10px 15px;
  font-size: 2rem;
}

.narrow{
  width: 75%;
  margin: 1.5rem auto;
  padding-top: 2rem;
}
.bg-black{
  background: #000;
}
.fixed{
  background-image: url(./img/apple.png);
  z-index: -1;
}
.dark{
  background-color: rgba(0, 0, 0, 0.75);
  color: white;
  padding: 7rem 2rem;
}
.clients-hr{
  border-top: .05rem solid #1ab399;
}

/*---Media Quaris--*/
@media (max-width:767px) {
.btn-lg{
    padding:.5rem 1rem ;
    font-size: .9rem;
  }
.caption h1{
    font-size: 2.3rem;
    letter-spacing: .15rem;
    padding-bottom: .5rem;
  }
.caption h3{
    font-size: 1.2rem;
    padding-bottom: 1.2rem;
  }
  .narrow h1{
    font-size: 1.5rem;
  }
  .clients img{
    display: block;
    margin: 0 auto;
  }
}